<mat-progress-spinner
  *ngIf="loading | async else imageArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #imageArea>
  <div fxLayout="row wrap" style="margin-left: 3rem">
    <div class="content" *ngFor="let image of images | async">
      <mat-card class="example-card">
        <img
          mat-card-image
          [src]="api + '/uploads/' + image.image"
          alt="cocktail image"
          (click)="openDialog(image._id)"
        >
        <mat-card-actions>
          <mat-card-title>{{ image.name }}</mat-card-title>
          <span>Photo by </span>
          <a [routerLink]="['images', image.user._id]"> {{ image.user.displayName }}</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>




