<mat-progress-spinner
  *ngIf="loading | async else imageArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #imageArea>
  <div fxLayout="row wrap" style="margin-left: 3rem">
    <div class="content" *ngFor="let image of images | async">
      <mat-card class="example-card">
        <img
          mat-card-image
          [src]="api + '/uploads/' + image.image"
          alt="cocktail image"
          (click)="openDialog(image._id)"
        >
        <mat-card-actions>
          <p>{{ image.name }}</p>
          <span>Photo by </span>
          <a [routerLink]="['images', image.user._id]"> {{ image.user.displayName }}</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>

<!--<app-modal [isOpen]="openModal" (close)="isClose()" *ngIf="image">-->
<!--  <div class="modal-body text-center">-->
<!--    <h2>{{ image.name }}</h2>-->
<!--    <img [src]="api + '/uploads/' + image.image" class="card-img-top ing_img" alt="{{ image.name }}">-->
<!--    <hr>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button (click)="isClose()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--  </div>-->
<!--</app-modal>-->

<!--<h2 mat-dialog-title>Install Angular</h2>-->
<!--<mat-dialog-content class="mat-typography">-->
<!--  <h3>Develop across all platforms</h3>-->

<!--</mat-dialog-content>-->
<!--<mat-dialog-actions align="end">-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
<!--</mat-dialog-actions>-->



